html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #ffffff;
  font-size: 1.2rem;
  display:flex;
  flex-flow: wrap;
  overflow-x: hidden; 
}

p, li {
  font-size: 1.1rem;
}

h1 {
  font-size: 2.4rem;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch;
  margin:0;
  padding:0;
}



/* VARIABLES */
:root {
  --mainColor: #EB6600;
  --blue: #000000;
}



/* LINKS */
a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

a:hover {
  background-position: 0 100%;
  background-size: auto 9px;
  background-repeat: repeat-x;
  text-decoration: none;
  color:#000;
}



/* CURSOR */
a:hover {
  cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat970.ani), 
url(http://cur.cursors-4u.net/nature/nat-10/nat970.gif), auto !important;
}



/* HIGHLIGHT */
::-moz-selection { 
    background: var(--mainColor) }
::selection { 
    background: var(--mainColor) }



/* HEADER BAR */
.header-bar {
  top: 0;
  left: 0;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 9000000000;
  opacity: 0.7;
}

.header-bar:hover {
  opacity: 1.0;
}

.header-bar img {
  min-width: 50px;
  padding-top:20px;
  padding-left:20px;
  display: block !important;
}

.header-bar a:hover {
  color: var(--mainColor);
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}

.header-bar a:hover img {
  position: relative;
}



/* INTRO */
/* .intro {
  min-height:100%;
  min-height:100vh;
  margin-top:-50px;
  margin-bottom:-100px;
  display: flex;
  align-items: center;
} */

.intro {
  padding-top:200px;
  padding-bottom:40px;
  display: flex;
  align-items: center;
}

/* CARDS */
.project-2 {
  width:100%;
}

.project-2:hover {
  background-color: #F3BD9A;
}



/* IMAGES */
img {
  display: block;
	border: 0;
	width: 100%;
	height: auto;
}



/* BLOCKQUOTES */
.wrapper {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
}

blockquote {
  background: white;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 80%;
  max-width: 800px;
}

.stacked {
  border: solid 2px;
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 white,
              15px 15px 0 0 var(--blue),
              15px 11px 0 0 var(--blue),
              11px 15px 0 0 var(--blue);
}

.shadow-quote {
  border: solid 2px;
  box-shadow: 15px 15px 0 0 var(--blue);
}

.rule {
  position: relative;
  left: 7px;
  background: lighten(var(--blue), 40%);
  box-shadow: -2px 0 0 var(--blue),
              -4px 0 0 lighten(var(--blue), 40%),
              -7px 0 0 var(--blue);
}



/* ACCORDIONS */
/* Accordion button */
.accordion {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Accordion hover */
.active, .accordion:hover {
  background-color: #6A6A6A;
}

/* Accordion panel */
.panel {
  padding: 18px 18px;
  background-color: #eee;
  max-height: 0;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-in;
}



/* Footer */
.footer {
  margin: 50px auto;
}        


