html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  overflow-x: hidden; 
  
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #ffffff;
    font-size: 1.2rem;
    display:flex;
  flex-flow: wrap;


}

p, li {
  font-size: 1.1rem;
}


h1 {
  font-size: 2.4rem;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch;
}


  

:root {
  --mainColor: #EB6600;
}

a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

a:hover {
  background-position: 0 100%;
  background-size: auto 9px;
  background-repeat: repeat-x;
  text-decoration: none;
  color:#000;
}


  
  a:hover {
    cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat970.ani), 
  url(http://cur.cursors-4u.net/nature/nat-10/nat970.gif), auto !important;
  }


  /* SELECTION COLOR *****************************************************************************
*********************************************************************************** */

  ::-moz-selection { 
      background: var(--mainColor) }
  ::selection { 
      background: var(--mainColor) }



/* PAGES *******************************************************************************
***************************************************************************************/

.sun-img {
  height: 50px;
  width: 50px;
  background-color: var(--mainColor);
  border-radius: 50%;
  display: inline-block;
}


.sun {
  z-index:0;
/* 
 * initial position center of the circle path
 */
position: absolute;
left: 40%;
bottom: -90%;


-webkit-animation: mySunset 15s linear infinite; /* Chrome, Safari 5 */
   -moz-animation: mySunset 15s linear infinite; /* Firefox 5-15 */
     -o-animation: mySunset 15s linear infinite; /* Opera 12+ */
        animation: mySunset 15s linear infinite; /* Chrome, Firefox 16+, 
                                                  IE 10+, Safari 5 */

}


@-webkit-keyframes mySunset {
from { -webkit-transform: rotate(204deg) translateX(300px) rotate(-204deg); }
to   { -webkit-transform: rotate(337deg) translateX(335px) rotate(-337deg); }
}

@-moz-keyframes mySunset {
from { -moz-transform: rotate(204deg) translateX(300px) rotate(-204deg); }
to   { -moz-transform: rotate(337deg) translateX(335px) rotate(-337deg); }
}

@-o-keyframes mySunset {
from { -o-transform: rotate(204deg) translateX(300px) rotate(-204deg);}
to   { -o-transform: rotate(337deg) translateX(335px) rotate(-337deg); }
}

@keyframes mySunset {
from { transform: rotate(204deg) translateX(300px) rotate(-204deg);}
to   { transform: rotate(337deg) translateX(335px) rotate(-337deg); }
}




.header-bar {
  margin:0;
  position: relative;
  background-color: #002BC5;
  height: 3%;
  width:100%;

}



.header-bar-text {
  color: #ffffff;
  position: absolute;
  bottom:0;
  left:0;
  padding-left:40px;
  padding-right:20px;
  margin-bottom:-8px;

}







@media screen and (max-width:800px) {
  .work h3, h2{
    width:100%;
    padding-left: 20px;
    padding-right:20px;
  }
}





img {
  display: block;
	border: 0;
	width: 100%;
	height: auto;
}




    

    
        


