html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;

  
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #ffffff;
    font-size: 1.2rem;
    display:flex;
  flex-flow: wrap;
  overflow-x: hidden; 


}

p, li {
  font-size: 1.1rem;
}


h1 {
  font-size: 2.4rem;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch;
  margin:0;
  padding:0;
}


  

:root {
  --mainColor: #EB6600;
}

a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

a:hover {
  background-position: 0 100%;
  background-size: auto 9px;
  background-repeat: repeat-x;
  text-decoration: none;
  color:#000;
}


  
  a:hover {
    cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat970.ani), 
  url(http://cur.cursors-4u.net/nature/nat-10/nat970.gif), auto !important;
  }


  /* SELECTION COLOR *****************************************************************************
*********************************************************************************** */

  ::-moz-selection { 
      background: var(--mainColor) }
  ::selection { 
      background: var(--mainColor) }



/* PAGES *******************************************************************************
***************************************************************************************/

.sun-img {
  height: 50px;
  width: 50px;
  background-color: var(--mainColor);
  border-radius: 50%;
  display: inline-block;
}


.sun {
  z-index:0;
/* 
 * initial position center of the circle path
 */
position: absolute;
left: 40%;
bottom: -90%;


-webkit-animation: mySunset 15s linear infinite; /* Chrome, Safari 5 */
   -moz-animation: mySunset 15s linear infinite; /* Firefox 5-15 */
     -o-animation: mySunset 15s linear infinite; /* Opera 12+ */
        animation: mySunset 15s linear infinite; /* Chrome, Firefox 16+, 
                                                  IE 10+, Safari 5 */

}


@-webkit-keyframes mySunset {
from { -webkit-transform: rotate(204deg) translateX(300px) rotate(-204deg); }
to   { -webkit-transform: rotate(337deg) translateX(335px) rotate(-337deg); }
}

@-moz-keyframes mySunset {
from { -moz-transform: rotate(204deg) translateX(300px) rotate(-204deg); }
to   { -moz-transform: rotate(337deg) translateX(335px) rotate(-337deg); }
}

@-o-keyframes mySunset {
from { -o-transform: rotate(204deg) translateX(300px) rotate(-204deg);}
to   { -o-transform: rotate(337deg) translateX(335px) rotate(-337deg); }
}

@keyframes mySunset {
from { transform: rotate(204deg) translateX(300px) rotate(-204deg);}
to   { transform: rotate(337deg) translateX(335px) rotate(-337deg); }
}




.header-bar {
  top:0;
  left:0;
  background-color: white;
  position: fixed;
  width:100%;
  z-index:9000000000;
  opacity:0.7;

}

.header-bar:hover {
  opacity:1.0;

}

.header-bar img {
  min-width: 50px;
  padding-top:20px;
  padding-left:20px;
  display: block !important;
}

.header-bar a:hover {
  color: #EB6600;

  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}


.header-bar a:hover img {
position: relative;
}




.header-bar-hidden {
  top:0;
  left:0;
  background-color: white;
  position: relative;
  width:100%;

}



.intro {
  min-height:100%;
  min-height:100vh;

  margin-top:-50px;
  margin-bottom:-100px;


  display: flex;
  align-items: center;
}


.project1, project-2, project-3 {
  width:100%;
}

.project-1:hover {
  background-color: #A59DFF;
}


.project-2:hover {
  background-color: #FFEDED;
}

.project-3:hover {
  background-color: #EBF8FF;
}


.about a img { display:none; }

.about a:hover img {
  display:block; 
  position: fixed;
  max-width:300px;
}



img {
  display: block;
	border: 0;
	width: 100%;
	height: auto;
}

:root {
  --figmaWidth: 100%;
  --blue: #000000
}


.figma {
  width: var(--figmaWidth);
  margin: auto;
  height: calc(0.5625 * var(--figmaWidth)) vw;
  display: flex;
  align-items: center;
}

    

body {
  color: var(--blue);
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
}

blockquote {
  background: white;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 80%;
  max-width: 800px;
}

.stacked {
  border: solid 2px;
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 white,
              15px 15px 0 0 var(--blue),
              15px 11px 0 0 var(--blue),
              11px 15px 0 0 var(--blue);
}

.shadow-quote {
  border: solid 2px;
  box-shadow: 15px 15px 0 0 var(--blue);
}

.shadow-quote-about {
  border: solid 2px;
  box-shadow: 15px 15px 0 0 #002BC5;
}



.rule {
  position: relative;
  left: 7px;
  background: lighten(var(--blue), 40%);
  box-shadow: -2px 0 0 var(--blue),
              -4px 0 0 lighten(var(--blue), 40%),
              -7px 0 0 var(--blue);
}


    
        


